includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon

parameters:
    level: 8
    phpVersion: 80400
    paths:
        - src
        - tests

    disallowedFunctionCalls:
        -
            function: 'var_dump()'
            message: 'please use a logger instead.'
        -
            function: 'print_r()'
            message: 'please use a logger instead.'
        -
            function: 'dump()'
            message: 'please use a logger instead.'
        -
            function: 'dd()'
            message: 'please use a logger instead.'
