services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/*'
    exclude:
      - '../src/{Kernel.php}'
      - '../src/Domain/*'

  App\Domain\Repository\ArcheryGroundRepository: '@App\Infrastructure\Persistence\Dbal\DbalArcheryGroundRepository'
  App\Application\Service\TargetImageStorage: '@App\Infrastructure\Storage\LocalTargetImageStorage'

  App\Infrastructure\Storage\LocalTargetImageStorage:
    arguments:
      $projectDir: '%kernel.project_dir%'
