services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/*'
    exclude:
      - '../src/{Kernel.php}'
      - '../src/Domain/*'

  App\Domain\Repository\ArcheryGroundRepository: '@App\Infrastructure\Persistence\Dbal\DbalArcheryGroundRepository'
