services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/*'
    exclude:
      - '../src/{Kernel.php}'
      - '../src/Domain/*'

  App\Application\Command\:
    resource: '../src/Application/Command/*/*Handler.php'
    public: true

  App\Application\Query\:
    resource: '../src/Application/Query/*/*Handler.php'
    public: true

  App\Domain\Repository\ArcheryGroundRepository: '@App\Infrastructure\Persistence\Dbal\DbalArcheryGroundRepository'
  App\Domain\Repository\TournamentRepository: '@App\Infrastructure\Persistence\Dbal\DbalTournamentRepository'
  App\Domain\Repository\UserRepository: '@App\Infrastructure\Persistence\Dbal\DbalUserRepository'
  App\Application\Service\TargetImageStorage: '@App\Infrastructure\Storage\LocalTargetImageStorage'
  App\Application\Service\AttachmentStorage: '@App\Infrastructure\Storage\LocalAttachmentStorage'
  App\Application\Bus\CommandBus: '@App\Infrastructure\Bus\SimpleMessageBus'
  App\Application\Bus\QueryBus: '@App\Infrastructure\Bus\SimpleMessageBus'
  Psr\Container\ContainerInterface: '@service_container'

  App\Infrastructure\Storage\LocalTargetImageStorage:
    arguments:
      $projectDir: '%kernel.project_dir%'

  App\Infrastructure\Storage\LocalAttachmentStorage:
    arguments:
      $projectDir: '%kernel.project_dir%'
